<div class="container margin-pages">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 correct-format">
            <div class="title"><%- texts.about_title %></div>
            <div>
                <%- texts.about_body %>
            </div>

            <div><%- texts.about_legal %> </div>
            <div id="scroll-me">
                <% if(photos){ %>
                <% photos.forEach(function(idPhoto){ %>
                <div class="col-xs-12 col-sm-6 container-photo-about-us">
                    <img class="photo-about-us" src="/service/media/<%= idPhoto %>" width="100%" height="100%"
                         href="/service/media/<%= idPhoto %>"/>
                </div>
                <% }) %>
                <% } %>
            </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <%- include('contact') %>
            <%- include('faq') %>
        </div>

    </div>
</div>