<div class="general-help">
    <img src="/frontEnd/img/img_60_floating_menu_help.png" srcset="/frontEnd/img/img_60_floating_menu_help@2x.png 2x" class="pull-left save inline-block">

    <div class="inline-block">
        <h4><%= texts.help%></h4>

        <p><%= texts.help_sub%></p>
    </div>
    <div class="clearfix"></div>
    <div class="line"></div>
    <div class="body">
        <div class="title">
            <%= texts.help_sub2%>
        </div>
        <div class="items">
            <div class="inline-block"><img width="32px" src="/frontEnd/img/ic_32_floating_menu_phone@2x.png"></div>
            <div class="inline-block">
                <a href="tel:(+34) 609 183 183">(+34) 609 183 183</a>
            </div>
        </div>
        <div class="items">
            <div class="inline-block"><img width="32" src="/frontEnd/img/ic_32_floating_menu_mail@2x.png"></div>
            <p class="inline-block">
                <a href="mailto:info@alquilerdebarco.com">info@alquilerdebarco.com</a>
            </p>
        </div>


    </div>
    <div class="footer">
        <img width="60px" height="60px" src="/frontEnd/img/img_60_menu_logo.png" srcset="/frontEnd/img/img_60_menu_logo@2x.png 2x">
        <p>Alquiler<span style="color: #5accfe">de</span>Barco<span style="color: #5accfe">.com</span></p></br>
        <a href="/<%= language %>/<%= texts.slug_frequently_questions%>"><%= texts.frequently_questions%></a>
    </div>
</div>