<div class="container margin-pages">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-12 text-center home_map"><a href="/<%= language %>"><img
                            src="/frontEnd/img/img_60_menu_logo.png"
                            srcset="/frontEnd/img/img_60_menu_logo@2x.png 2x"
                            class="logo-header"></a>
                <div class="clearfix"></div>
                <div class="col-xs-6 text-center"><a href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_user_guide%>"><%= texts.guide %></a>
                </div>
                <div class="col-xs-6 text-center"><a href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_sailor_guide %>"><%= texts.seafarer %></a></div>
                <div class="clearfix"></div>
                <div class="col-xs-12 text-center"><a href="http://blog.alquilerdebarco.com/">Blog</a></div>
                <div class="col-xs-12"><a href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_announce %>"><%= texts.announce %></a>
                    <div class="clearfix"></div>
                    <div class="col-xs-6"><a
                                href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_private %>"><%= texts.private_reg %></a></div>
                    <div class="col-xs-6"><a
                                href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_enterprise %>"><%= texts.enterp_reg %></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-6"><a href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_about %>"><%= texts.about %></a></div>
                <div class="col-xs-6"><a href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_our_ships %>"><%= texts.our_ships %></a>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-6"><a
                            href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_conditions %>"><%= texts.service_conditions %></a>
                </div>
                <div class="col-xs-6"><a
                            href="/<%if(language !="es"){%><%= language %>/<%}%><%= texts.slug_privacy %>"><%= texts.cookies_privacy %></a></div>
                <div class="clearfix"></div>
            </div>


        </div>
    </div>
</div>